@model AdoreStoreApp.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "Index";
}

<!-- Page title -->
      <div class="page-title">
         <div class="container">
            <h2><i class="icon-desktop color"></i> My Account </h2>
            <hr />
         </div>
      </div>
      <!-- Page title -->
      
      <!-- Page content -->
      
      <div class="account-content">
         <div class="container">
            
            <div class="row">
               <div class="col-md-3">
                  <div class="sidey">
                     <ul class="nav">
                         <li><a href="#">Profile</a></li>                      
                         <li><a href="/Edit/">Edit Profile</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-9">
                  <h3><i class="icon-user color"></i> &nbsp;My Account</h3>
                  <!-- Your details -->
                   <div class="address">
                     <address>
                       <!-- Your name -->
                       <strong>Ashok Ramesh</strong><br>
                       <!-- Address -->
                       795 Folsom Ave, Suite 600<br>
                       San Francisco, CA 94107<br>

                       <!-- Phone number -->
                       <abbr title="Phone">P:</abbr> (123) 456-7890.<br />
                       <a href="mailto:#">first.last@gmail.com</a>
                     </address>
                   </div>

                   <hr />
                   
                   <h4>My Points</h4>

                     <table class="table table-striped tcart">
                       <thead>
                         <tr>
                           <th>#</th>
                           <th>Program Name</th>
                           <th>Description</th>
                           <th>Points Available</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>01</td>
                           <td>4423</td>
                           <td>HTC One</td>
                           <td>$530</td>
                         </tr>
                         <tr>
                           <td>15-02-12</td>
                           <td>6643</td>
                           <td>Sony Xperia</td>
                           <td>$330</td>
                         </tr>
                         <tr>
                           <td>14-08-12</td>
                           <td>1283</td>
                           <td>Nokia Asha</td>
                           <td>$230</td>
                         </tr>                                               
                       </tbody>
                     </table>
               </div>
            </div>
            
            <div class="sep-bor"></div>
         </div>
      </div>